.scheduling_day {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#calendar {
    margin-top: 50px;
}

#formReserva {
    width: fit-content;
}

.button:hover {
    text-decoration: none;
}

td.fc-today {
    background-color: inherit !important;
}

td.fc-disabled-day {
    background-color: #AAA !important;
    opacity: 0.4;
}
