.help_banner {
    background-image: linear-gradient(180deg, #ffb000, #ffeaba);
    border: 0;
}

.image_frame {
    box-shadow: 1px 1px 3px gray;
    border-radius: 1rem;
}

iframe {
    border-radius: .5rem;
}
