@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-image: url('_imagens/img2fundo.jpg');
}
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
figure {
    background-color: rgba(100,100,100, 0.9);
    border-radius: 0.5rem;
}
.input-group > label {
    width: 35%;
    margin: 0;
}

.label_custom {
    width: fit-content;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
}

.login_panel {
    background-color: rgba(7, 0, 0,0.8);
    padding: 5rem;
    border-left: 2px solid yellow;
    font-family: 'Montserrat', sans-serif;
}

.register_panel {
    background-color: rgba(7, 0, 0,0.8);
    padding: .75rem 1rem 1.5rem 4rem;
    border-right: 2px solid yellow;
    font-family: 'Montserrat', sans-serif;
}

form#cadastro {
    background-image: url('_imagens/img1fundo.jpg');
    background-size: cover;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}
