.level {
    margin-top: 10px;
    margin-bottom: 10px;
}

.level-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    transition: background-color 0.5s;
}

.WrapperView {
    padding-bottom: 20px;
}