body {
    margin: 0%;
}

ul {
    list-style:none;
}

body, ul, div {
    transition: background-color 1s;
}

/* Definir largura nos elementos de entrada do formulário, pois eles são 100% de largura por padrão */
input,
select,
textarea {
    max-width: 280px;
}
span {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

hr {
    background-color: yellow !important;
}

footer {
    height: 8rem;
    background-color: #4682b4
}

    footer > p {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        color: white;
        margin: 0px;
    }

.title_help {
    font-size: 20px;
    padding: 5px;
    background-color: #E3E3E3;
    color: #4C4C4C;
}