body {
    margin: 0%;
    padding-bottom: 20px;
}

/* Definir largura nos elementos de entrada do formulário, pois eles são 100% de largura por padrão */
input,
select,
textarea {
    max-width: 280px;
}

/* Define o alinhamento do texto de rodapé */
.RodapeTxt {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
    margin: 0px;
}

hr {
    background-color: yellow !important;
}

.LoginFooter {
    background-color: rgba(7, 0, 0, 0.8);
}

.HomeFooter {
    height: 12vh;
    background-color: #4682b4 /*SteelBlue*/
}